extends ../layouts/default

block main
  h1= title

block content
  - var action = '/articles'
  - action += article.isNew? '' : '/' + article.id

  .row
    .col-md-8
      form(method="post", action=action, enctype="multipart/form-data" role="form")

        input(type="hidden" name="_csrf", value=csrf_token)

        - if (!article.isNew)
          input(type="hidden" name="_method" value="PUT")

        -var uid_date_temp = ("0" + new Date().getUTCFullYear()).slice(-4) + "_" + ("0" + (new Date().getUTCMonth() +1)).slice(-2) + "_" + ("0" + new Date().getUTCDate()).slice(-2) + "_" + ("0" + new Date().getUTCHours()).slice(-2) + ("0" + new Date().getUTCMinutes()).slice(-2) + ("0" + new Date().getUTCSeconds()).slice(-2) + ("0"+new Date().getUTCMilliseconds()).slice(-3);
        .form-group
          label(for='uid') 流水號
          input.form-control#uid(type='text' name="uid", value=uid_date_temp, placeholder='流水號' readonly)
        .form-group
          label(for='case_name_id') 契約編號
          input.form-control#case_name_id(type='text' name="case_name_id", value=article.case_name_id?article.case_name_id:'' placeholder='輸入契約號')
        
        -var create_date_temp = new Date();
        //-const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        .form-group
          label(for='create_date') 建立時間
          //input.form-control#create_date(type='text' name="create_date", value=article.create_date?article.create_date.toLocaleDateString(undefined, options):create_date_temp.toLocaleDateString(undefined, options) placeholder='建立時間' readonly)
          input.form-control#create_date(type='date' name="create_date", value=article.create_date?article.create_date.getFullYear()+'-' + ("0"+(article.create_date.getMonth()+1)).slice(-2) + '-'+ ("0"+(article.create_date.getDate())).slice(-2):create_date_temp.getFullYear()+'-' + ("0"+(create_date_temp.getMonth()+1)).slice(-2) + '-'+("0"+(create_date_temp.getDate())).slice(-2) placeholder='建立時間' readonly)
        .form-group
          label(for='case_name') 案件名
          input.form-control#case_name(type='text' name="case_name", value=article.case_name?article.case_name:'' placeholder='輸入案件名')
        .form-group
          label(for='plan_money') 方案金額
          input.form-control#plan_money(type='text' name="plan_money", value=article.plan_money?article.plan_money:'' placeholder='輸入金額')
        .form-group
          label(for='host_name') 禮儀師
          input.form-control#host_name(type='text' name="host_name", value=article.host_name?article.host_name:'' placeholder='禮儀師')

        .form-group
          label(for='helper_name') 禮助
          input.form-control#tags(type='text' name="helper_name", value=article.helper_name?article.helper_name:null placeholder='禮助名')
        
        -create_date_temp += 90 * 365 * 24 * 60 * 60 * 1000;//just for safe , useless
        .form-group
          label(for='host_date') 舉行日期(5年以上=未設定)
          input.form-control#host_date(type='date' name="host_date", value=article.host_date?article.host_date.getFullYear()+'-' + ("0"+(article.host_date.getMonth()+1)).slice(-2) + '-'+ ("0"+(article.host_date.getDate())).slice(-2):create_date_temp.getFullYear()+'-' + ("0"+(create_date_temp.getMonth()+1)).slice(-2) + '-'+("0"+(create_date_temp.getDate())).slice(-2) placeholder='舉行日期')
  
        .form-group
          label(for='clear_date') 結案時間(5年以上=未設定)
          input.form-control#clear_date(type='date' name="clear_date", value=article.clear_date?article.clear_date.getFullYear()+'-' + ("0"+(article.clear_date.getMonth()+1)).slice(-2) + '-'+ ("0"+(article.clear_date.getDate())).slice(-2):create_date_temp.getFullYear()+'-' + ("0"+(create_date_temp.getMonth()+1)).slice(-2) + '-'+("0"+(create_date_temp.getDate())).slice(-2) placeholder='結案時間')


        //.getFullYear()+'-' + (.getMonth()+1) + '-'+.getDate()
        //- .form-group
        //-   label(for='file') Image
        //-   input.form-control-file#file(type='file' name="image")

        .form-group
          label(for='desc') 案件描述
          textarea.form-control#desc(rows="5" name="body" placeholder='案件描述')=article.body

        //- .form-group
        //-   label(for='tags') 禮助
        //-   input.form-control#tags(type='text' name="tags", value=article.tags, placeholder='建立標籤')


        button.btn.btn-primary(type='submit') 儲存
        | &nbsp;
        a.btn.btn-link(href='/articles' title="cancel") 取消

    .col-md-4
      - if (!article.isNew && article.image && article.image.files && article.image.files.length)
        img(src=article.image.cdnUri + "/mini_" + article.image.files[0])
